{% extends "layouts/base.html" %}

{% block title %}StakL{% endblock %}

{% block content %}
    <div class="col content ">
        <div class="gap-3">
            <div class="pt-3 pb-2">
                <div class="w-100" style="width: 18rem;">
                    <div class="">
                        <div class="row">
                            <div class="col-2 me-2">
                                <div class="object-fit-scale border rounded p-1 border mb-2"
                                     style="width: 7rem; height: 7rem">
                                    <img src="" alt="Avatar" class="img-fluid">
                                </div>
                                <input class="form-control" type="number" value="5" placeholder="Default input"
                                       aria-label="default input example" style="width: 7rem">
                            </div>
                            <div class="col-9 row gap-2">
                                <h3>Popular Tags</h3>
                                <label class="card-text col-12 align-self-start">Loren ipsum - dolor sit amet, concuted.
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content. Some quick example text to build on the card title and make up the
                                    bulk of the card's content. Some quick example text to build on the card title and
                                    make up the bulk of the card's content.</label>
                                <div class="col align-self-end mt-3">
                                    <div class="tagsQuestion">
                                        <section class="mb-3">
                                            <div>
                                                <a>Tags: </a>
                                                <button class="badge text-bg-primary">Primary</button>
                                                <button class="badge text-bg-info">Info</button>
                                                <button class="badge text-bg-dark">Dark</button>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column gap-3 border-3 border border-start-0 border-end-0 border-warning-subtle pt-4 pb-4">
                {% for answer in answers %}
                    {% include 'layouts/cardAnswer.html' %}
                {% endfor %}
                {% include 'layouts/pagination.html' %}
            </div>

            <div class="d-flex flex-column gap-3 pt-3">
                <div class="col row">
                    <div>
                        <textarea class="form-control" id="exampleFormControlAnswerArea" rows="7"
                                  placeholder="Enter your answer here..."></textarea>
                    </div>
                </div>
                <div class="col align-self-start">
                    <div>
                        <button class="btn btn-primary">Answer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}