{% load static %}

<div class="card w-100" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div class="object-fit-scale border rounded p-1 border me-3 mb-2"
                     style="width: 4.5rem; height: 4.5rem">
                    <img src="" alt="Avatar" class="img-fluid">
                </div>
                <input class="form-control" type="number" value="5" placeholder="Default input"
                       aria-label="default input example" style="width: 4.5rem">
            </div>
            <div class="col-10 row gap-4">
                <label class="card-text col-12 align-self-start">{{ answer.text }}</label>
                <div class="col align-self-end">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Answer</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>