{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand" href="{% url 'index' %}">StackL</a>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success col-5" type="submit">Find Question</button>
                </form>

                <div class="d-flex gap-3">
                    {% block profileNavbar %}
                        <img src="" class="object-fit-scale border rounded w-25 p-1" alt="Avatar" >
                    <div>
                        <div class="fw-bold">
                            Konda Dista
                        </div>
                        <a href="{% url 'userProfile' "Konda Dista"%}" class="btn-sm btn btn-outline-primary">Settings</a>
                        <a href="{% url 'logIn' %}" class="btn-sm btn btn-outline-danger">Log out</a>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </nav>

    <main class="container mt-3">

        <div class="row">
            {% block content %}
            {% endblock %}
            {% block sidebar %}
            <div class="col-3">
                <section class="mb-3">
                    <h2>Popular Tags</h2>
                    <div>
                        <button class="badge text-bg-primary">Primary</button>
                        <button class="badge text-bg-secondary">Secondary</button>
                        <button class="badge text-bg-success">Success</button>
                        <button class="badge text-bg-danger">Danger</button>
                        <button class="badge text-bg-warning">Warning</button>
                        <button class="badge text-bg-info">Info</button>
                        <button class="badge text-bg-light">Light</button>
                        <button class="badge text-bg-dark">Dark</button>
                    </div>
                </section>

                <section>
                    <h2>Best members</h2>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">Mr.Freeman</a>
                            <li class="list-group-item"><a href="#">Dr.House</a></li>
                            <li class="list-group-item"><a href="#">Bender</a></li>
                            <li class="list-group-item"><a href="#">QueenVIctori</a></li>
                            <li class="list-group-item"><a href="#">Delor</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            {% endblock %}

        </div>


    </main>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>